<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <customErrors mode="RemoteOnly" defaultRedirect="/internalservererror" xdt:Transform="InsertIfMissing" />
  </system.web>

  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Proxy" stopProcessing="true" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" negate="true" pattern="^(.*)/.well-known/(.*)$"/>
          </conditions>
          <action type="Rewrite" url="http://elmahio.github.io/blog/{R:1}" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

</configuration>
